<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change Page</title>
</head>
<body>
    <h1>Change Password Page</h1>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <p>Username: {{ user.username }}</p>
        {% if form.errors %}
        <p>There is sth wrong with the form!</p>
        {% endif %}

        {% for field in form %}
            <p>{{ field.label }} {{ field }} {{ field.errors }}</p>
        {% endfor %}

        <input type="submit"  value="submit">
        <input type="button" onclick="history.back()" value="back">
    </form>
</body>
</html>