<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
    <h1>The Registration page</h1>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There is sth wrong with the form!</p>
        {% endif %}

        {% for field in form %}
            <p>{{ field.label }} {{ field }} {{ field.errors }}</p>
        {% endfor %}

        <p><input type="submit"  value="register"></p>
    </form>
</body>
</html>